body {
    font-family: Arial, sans-serif;
    background-color: #434e6d;
    color: #b7a5a5;
    margin: 0;
    padding: 20px;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_container img {
    width: 200px;
}
img {
    border: 1px solid #252525;
    border-radius: 10px;
}
#show_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#show_image img {
    width: 100%;
    max-width: 800px;
    height: 500px;
}   
